<!-- ドロワー -->
<ul class="menu menu-bordered w-80 min-h-full bg-base-100 text-base-content">

  <li>
    <details open>
      <summary>私のミニメモリー</summary>
      <ul>
        <li><%= link_to "新規投稿", "#" %></li>
        <li><%= link_to "投稿一覧（ミニメモリー）", "#" %></li>
        <li><%= link_to "子と楽しむ", "#" %></li>
      </ul>
    </details>
  </li>

  <li>
    <details>
      <summary>みんなのミニメモリー</summary>
      <ul>
        <li><%= link_to "掲示板", "#" %></li>
      </ul>
    </details>
  </li>

  <li>
    <details>
      <summary>アカウント</summary>
      <ul>
        <li><%= link_to "マイページ", "#" %></li>
        <li><%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete } %></li>
      </ul>
    </details>
  </li>

  <li>
    <details>
      <summary>その他</summary>
      <ul>
        <li><%= link_to "利用規約", "#" %></li>
        <li><%= link_to "プライバシーポリシー", "#" %></li>
        <li><%= link_to "お問い合わせ", "#" %></li>
      </ul>
    </details>
  </li>

  <li class="mt-auto text-center text-sm opacity-60 py-4">
    © Mini memory
  </li>
</ul>
