<!-- ドロワー -->
<ul class="menu menu-bordered w-80 min-h-full bg-base-100 text-base-content">

  <% if user_signed_in? %>
    <li>
      <summary><%= current_user.name %>さん、ようこそ！</summary>
      <details open>
        <summary><%= t('drawer.summary.my_mini_memory') %></summary>
        <ul>
          <li><%= link_to t('drawer.list.create_memory'), new_memory_path %></li>
          <li><%= link_to t('drawer.list.memory_index'), memories_path %></li>
          <li><%= link_to t('drawer.list.enjoy_with_child'), "#" %></li>
        </ul>
      </details>
    </li>
  <% end %>

  <li>
    <details>
        <summary><%= t('drawer.summary.everyone_mini_memory') %></summary>
      <ul>
        <li><%= link_to t('drawer.list.board'), "#" %></li>
      </ul>
    </details>
  </li>

  <li>
    <details>
      <summary><%= t('drawer.summary.account') %></summary>
      <% if user_signed_in? %>
        <ul>
          <li><%= link_to t('drawer.list.mypage'), "#" %></li>
          <li><%= link_to t('drawer.list.logout'), destroy_user_session_path, data: { turbo_method: :delete } %></li>
        </ul>
      <% else %>
        <ul>
          <li><%= link_to t('drawer.list.user_create'), new_user_registration_path %></li>
          <li><%= link_to t('drawer.list.login'), new_user_session_path %></li>
        </ul>
      <% end %>
    </details>
  </li>

  <li>
    <details>
      <summary><%= t('drawer.summary.others') %></summary>
      <ul>
        <li><%= link_to t('drawer.list.terms_of_service'), "#" %></li>
        <li><%= link_to t('drawer.list.privacy_policy'), "#" %></li>
        <li><%= link_to t('drawer.list.contact'), "#" %></li>
      </ul>
    </details>
  </li>

  <li class="mt-auto text-center text-sm opacity-60 py-4">
    © Mini memory
  </li>
</ul>
